<!DOCTYPE html>
<html>
<head>
  <title>The best Book App</title>
  <link href="/public/styles/reset.css" type="text/css" rel="stylesheet">
  <link href="/public/styles/base.css" type="text/css" rel="stylesheet">
  <link href="/public/styles/layout.css" type="text/css" rel="stylesheet">
  <link href="/public/styles/moduels.css" type="text/css" rel="stylesheet">
  <link href="/public/styles/icons.css" type="text/css" rel="stylesheet">
</head>
<body>
  <h1>Hello World</h1>
  <h2>this is proof of life</h2>  
  <h3>DJ and Rosalyn were here</h3>
</body>
<footer>

</footer>
</html>
