*{
  color: whitesmoke;
  text-align: center;
}
body{
  background-image: url(photos/Canva-OpenedBook.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-size: 5vw;
}
input{
  /* background-color: #8b6c5b; */
  height: 20%;
  margin:auto;
}
button{
  height:20px;
  width: 50px;
}
fieldset input{
  height: 15px;
  width: 15px;
}
