@media (max-width: 768px){
  /* for mobile */
  *{
    color: #343d3b;
  }
  body{
    background-image: url(photos/Canva-OpenedBook.jpg);
    margin:0;
  }
  main{
    /* background-image: none; */
    background-color: #b79a88;
    margin:0;
    line-height: 20px;
  }
  fieldset{
    
    margin:0;
  }
  span{
    background-color: #406570;
    color: #b2280f;
    margin:0;
  }
  label{
    background-color: #406570;
    margin:0;
  }
  button{
    background-color: #b2280f;
    height: 10%;
    width:15%;
    margin:0;
  }
}
#searchResultsForm{
  background-color:rgba(146, 105, 82, .6);
  width:60%;
  margin:auto;
  margin-bottom: 5%;
  padding:5%;
}
#searchResultsForm > form > fieldset{
  display:flex;
  flex-direction: column;
  
}
#searchResultsForm > form > fieldset > input, input{
  width: 80%;
  margin:auto;
  color: #443A31;
  padding: 2%;
  margin-bottom: 1%;
}
#searchResultsForm > form > fieldset > button, button{
  background-color: #443A31;
  width: 50%;
  margin:auto;
  color: whitesmoke;
  padding: 5%;
}


#showPage{
  background-color: rgba(146, 105, 82, .6);
  width:60%;
  margin:auto;
  padding:5%;
}